@import url("https://fonts.googleapis.com/css?family=Kanit");

body {
  margin: 0;
  font-family: "Kanit";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#outer-container {
  margin-left: 0;
  margin-right: 0;
}
#page-wrap {
  padding-top: 20px;
  padding-left: 20px;
}
.sidebar {
  position: absolute;
  top: 0;
  padding: 0%;
  margin: 0%;
  width: 300px;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 20px;
}
li {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  cursor: pointer;
  margin-top: 10px;
}
li:hover {
  background-color: rgb(100, 99, 99);
  color: rgb(255, 255, 255);
}
.snackbar {
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 100;
}
.snackbar .symbol {
  flex: 15%;
}
.snackbar .message {
  flex: 85%;
  font-weight: bolder;
}
#show {
  visibility: visible;
}
#hide {
  visibility: hidden;
}
